@import 'reset';
@import 'sprite';
@include sprites($spritesheet-sprites);
// 功能
.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.icon {
  display: inline-block;
}

.icon_right_arrow {
  position: relative;
  width: 12px;
  height: 12px;
  color: #6e8095;
  &:before {
    content: ' ';
    position: absolute;
    left: 1px;
    top: 3px;
    width: 5px;
    height: 5px;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transform: rotate(-135deg);
  }
}

// mixin
@mixin select($width: 70px, $height: 26px) {
  position: relative;
  box-sizing: border-box;
  width: $width;
  cursor: pointer;
  p {
    position: relative;
    box-sizing: border-box;
    height: $height;
    padding: 0 12px;
    border: 1px solid #cacbcb;
    line-height: $height;
    font-family: 'simhei';
    font-size: 12px;
    &:after {
      content: ' ';
      position: absolute;
      right: 6px;
      top: ($height - 10px) / 2;
      width: 5px;
      height: 5px;
      border-left-width: 1px;
      border-left-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      transform: rotate(-45deg);
    }
  }
  ul {
    position: absolute;
    left: 0;
    top: $height;
    display: none;
    background-color: rgba(#fff, .5);
    li {
      box-sizing: border-box;
      width: $width;
      padding: 6px;
      text-align: center;
      font-family: 'simhei';
      font-size: 12px;
      &:hover,
      &.active {
        background-color: rgba(#aaa, .5);
      }
    }
  }
  &.active {
    ul {
      display: block;
    }
  }
}

@mixin picker($width: 66px, $height: 22px) {
  position: relative;
  box-sizing: border-box;
  width: $width;
  cursor: pointer;
  p {
    position: relative;
    box-sizing: border-box;
    height: $height;
    padding: 0 12px;
    border: 1px solid #cacbcb;
    line-height: $height;
    font-family: 'simhei';
    font-size: 12px;
    &:after {
      content: ' ';
      position: absolute;
      right: 6px;
      top: ($height - 4px) / 2;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #cacbcb;
    }
  }
  ul {
    position: absolute;
    left: 0;
    top: $height;
    display: none;
    background-color: rgba(#ddd, .5);
    li {
      box-sizing: border-box;
      width: $width;
      padding: 6px;
      text-align: center;
      font-family: 'simhei';
      font-size: 12px;
      &:hover,
      &.active {
        background-color: rgba(#aaa, .5);
      }
    }
  }
  &.active {
    ul {
      display: block;
    }
  }
}

// 布局
.g-hd {
  min-width: 1280px;
  height: 56px;
  background-color: #2189bf;
}

.logo {
  margin-left: 4%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-login {
  position: relative;
  margin-right: 7%;
  height: 28px;
  margin-top: 14px;
  margin-bottom: 14px;
  .btn_search {
    position: absolute;
    left: 18px;
    top: 5px;
    cursor: pointer;
  }
  .search {
    box-sizing: border-box;
    width: 314px;
    height: 28px;
    padding: 0 40px;
    border: none;
    margin-right: 20px;
    border-radius: 14px;
  }
  .icon_login {
    vertical-align: text-bottom;
    margin-right: 4px;
  }
  .text {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
  }
}

.g-bd {
  width: 1280px;
  margin: 0 auto;
}

.m-profile {
  box-sizing: border-box;
  padding: 20px 58px 20px 45px;
  width: 260px;
  height: 1210px;
  background-color: #2a2e3d;
}

.profile_head {
  .avatar,
  .name {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar {
    width: 56px;
    height: 56px;
    border: 1px solid #acadb3;
    border-radius: 50%;
    .avatar_inner {
      width: 46px;
      height: 46px;
      margin: 5px;
      border-radius: 50%;
      background-color: #b9b9be;
    }
  }
  .name {
    margin-left: 18px;
    font: 16px/21px 'simhei';
    color: #f6f5f5;
  }
}

.profile_count {
  margin: 24px auto;
  font: 12px/13px 'simsun';
  color: #6e8095;
  .fav,
  .fan {
    box-sizing: border-box;
    width: 50%;
  }
  .fav {
    border-right: 2px solid #313545;
  }
  span {
    display: block;
    text-align: center;
  }
  .num {
    font: 16px/18px 'simhei';
  }
}

.profile_floder {
  margin: 36px 0;
  cursor: default;
  .icon,
  h3 {
    vertical-align: middle;
  }
  h3 {
    display: inline-block;
    height: 12px;
    margin-left: 12px;
    font-family: 'simhei';
    font-size: 12px;
    color: #6e8095;
    cursor: default;
    user-select: none;
  }
  .floder_list {
    margin-left: 28px;
    .floder {
      margin: 18px 0;
      .icon,
      h4 {
        vertical-align: middle;
      }
      h4 {
        display: inline-block;
        height: 12px;
        margin-left: 4px;
        font-family: 'simhei';
        font-size: 12px;
        color: #6e8095;
        cursor: default;
        user-select: none;
      }
      &.active {
        .icon_right_arrow {
          transform: rotate(90deg);
          color: #ededef;
        }
        .icon_file {
          @extend .icon_file_open;
        }
        h4 {
          color: #ededef;
        }
      }
    }
  }
  .file_list {
    margin-left: 34px;
    .file {
      margin: 16px 0;
      .icon,
      h5 {
        vertical-align: middle;
      }
      h5 {
        display: inline-block;
        height: 12px;
        margin-left: 4px;
        font-family: 'simhei';
        font-size: 12px;
        color: #6e8095;
        cursor: default;
        user-select: none;
      }
      &.active {
        .icon_doc {
          @extend .icon_doc_open;
        }
        h5 {
          color: #ededef;
        }
      }
    }
  }
  &.active {
    h3 {
      color: #ededef;
    }
  }
}

.m-detail {
  width: 1020px;
  height: 1210px;
  background-color: #eeeeed;
  .wrap {
    width: 890px;
    margin: 20px auto 0;
  }
}

.detail_head {
  height: 30px;
  background-color: #fff;
  p {
    height: 30px;
    margin-left: 30px;
    line-height: 30px;
    font-family: 'simhei';
    font-size: 12px;
    a {
      display: inline-block;
      padding: 0 4px;
      color: #aaa;
      &.active {
        color: #6898c2;
      }
    }
  }
}

.detail_search {
  box-sizing: border-box;
  padding: 15px 30px;
  height: 86px;
  margin-bottom: 10px;
  background-color: #fff;
  .item {
    font-size: 12px;
    font-family: 'simhei';
    color: #aaa;
  }
  .select {
    display: inline-block;
    margin-left: 15px;
  }
  .search_item1 {
    width: 130px;
    margin-right: 30px;
    .select {
      @include select;
    }
  }
  .search_item2 {
    width: 162px;
    .row+.row {
      margin-top: 4px;
    }
    .select {
      @include select($width: 120px);
    }
  }
  .icon_change {
    margin: 9px 0;
    cursor: pointer;
  }
  .search_item3 {
    margin: 0 28px 0 30px;
    .row1 {
      margin-bottom: 4px;
      .col1 {
        margin-right: 14px;
        .select {
          @include select($width: 120px);
        }
      }
      .col2 {
        .select {
          @include select;
        }
      }
    }
    .row2 {
      .col1 {
        margin-right: 14px;
        .select {
          @include select;
        }
      }
      .col2 {
        .select {
          @include select($width: 120px);
        }
      }
    }
  }
  .search {
    width: 50px;
    height: 26px;
    margin: 15px 0;
    border: none;
    background-color: #388ac1;
    font-size: 12px;
    font-family: 'simhei';
    color: #fff;
  }
}

.detail_history {
  height: 65px;
  margin-bottom: 20px;
  &>* {
    float: left;
    background-color: #fff;
  }
  .btn_left {
    position: relative;
    width: 30px;
    height: 65px;
    margin-right: 4px;
    color: #b0b0af;
    cursor: pointer;
    &:after {
      content: ' ';
      position: absolute;
      left: 12px;
      top: 24px;
      width: 12px;
      height: 12px;
      border-left-width: 1px;
      border-left-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      transform: rotate(45deg);
    }
  }
  .card_time {
    box-sizing: border-box;
    width: 110px;
    height: 65px;
    margin-right: 4px;
    border-top: 4px solid transparent;
    font-family: 'microsoft yahei';
    text-align: center;
    &.active {
      border-color: #4388c9;
    }
    .time {
      margin: 10px 0 4px;
      font-size: 12px;
      color: #323333;
    }
    .price {
      font-size: 12px;
      color: #aaa;
      span {
        font-size: 21px;
        color: #ec6500;
      }
    }
  }
  .btn_right {
    position: relative;
    width: 30px;
    height: 65px;
    margin-right: 4px;
    color: #b0b0af;
    cursor: pointer;
    &:after {
      content: ' ';
      position: absolute;
      left: 4px;
      top: 24px;
      width: 12px;
      height: 12px;
      border-left-width: 1px;
      border-left-style: solid;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      transform: rotate(-135deg);
    }
  }
  .history_search {
    width: 138px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    .icon,
    .text {
      vertical-align: middle;
    }
    .text {
      display: inline-block;
      margin-left: 10px;
      font-family: 'microsoft yahei';
      font-size: 12px;
      color: #535353;
    }
  }
}

.detail_statistics {
  margin-bottom: 14px;
  h3 {
    font: 12px/31px 'microsoft yahei';
    color: #323333;
  }
  .card_trade {
    box-sizing: border-box;
    width: 200px;
    height: 70px;
    padding: 12px 15px;
    border-left: 4px solid transparent;
    background-color: #fff;
    .text {
      width: 100px;
      p {
        font: 12px/25px 'simhei';
        color: #aaa;
        &.num {
          color: #323333;
        }
      }
    }
    .image {
      width: 60px;
      height: 46px;
    }
    &.card_trade01 {
      border-color: #43b29d;
      .image {
        background-color: #43b29d;
      }
    }
    &.card_trade02 {
      border-color: #388ac1;
      .image {
        background-color: #388ac1;
      }
    }
    &.card_trade03 {
      border-color: #cf4a36;
      .image {
        background-color: #cf4a36;
      }
    }
    &.card_trade04 {
      border-color: #e2cd47;
      .image {
        background-color: #e2cd47;
      }
    }
  }
  .card_trade+.card_trade {
    margin-left: 30px;
  }
}

.detail_group {
  height: 358px;
  margin-bottom: 10px;
}

.m-card {
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 6px;
  height: 356px;
  .card_head {
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #ccc;
    height: 40px;
    padding: 0 20px;
    background-color: #f4f5f6;
    h3 {
      font: 12px/40px 'simhei';
      color: #aaa;
    }
  }
  .card_body {
    box-sizing: border-box;
    height: 314px;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
  }
  &.m-card01 {
    width: 530px;
    margin-right: 10px;
    .card_body {
      padding: 12px 20px;
      .tab {
        font-size: 0;
        li,
        a {
          display: inline-block;
        }
        a {
          position: relative;
          z-index: 999;
          box-sizing: border-box;
          width: 86px;
          height: 26px;
          margin-right: 4px;
          background-color: #ececef;
          text-align: center;
          font: 12px/26px 'microsoft yahei';
          border: 1px solid transparent;
          border-bottom-color: #ccc;
          border-radius: 4px 4px 0 0;
          &.active {
            border-color: #ccc;
            border-bottom-color: #fff;
            background-color: #fff;
          }
        }
      }
      .content {
        position: relative;
        box-sizing: border-box;
        margin-top: -1px;
        padding: 30px;
        height: 264px;
        border: 1px solid #ccc;
        border-radius: 0 4px 4px 4px;
        overflow: hidden;
        table {
          position: absolute;
          left: 30px;
          top: 30px;
          z-index: 1;
          &#cont01:target,
          &#cont02:target,
          &#cont03:target,
          &#cont04:target,
          &#cont05:target {
            z-index: 2;
          }
          td {
            width: 100px;
            height: 30px;
            border: 1px solid #ddd;
            background-color: #fff;
            text-align: center;
            font-size: 12px;
            font-family: 'simsun';
          }
        }
      }
    }
  }
  &.m-card02 {
    width: 350px;
    .card_body {
      padding: 18px 35px;
      label {
        font: 12px/17px 'simhei';
        color: #aaa;
      }
      input,
      textarea {
        font: 12px/17px 'microsoft yahei';
        color: #535353;
      }
      .title,
      .main,
      .detail {
        box-sizing: border-box;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        input,
        textarea {
          display: block;
          width: 100%;
          border: none;
        }
      }
      .main {
        padding: 0;
      }
      .price,
      .leader {
        box-sizing: border-box;
        padding: 5px 10px;
      }
      .price {
        width: 30%;
        border-right: 1px solid #ccc;
      }
      .leader {
        width: 70%;
      }
      .detail {
        textarea {
          height: 90px;
        }
      }
      .btn {
        height: 34px;
        line-height: 34px;
        input,
        label,
        button {
          display: inline-block;
          vertical-align: middle;
        }
        button {
          width: 50px;
          height: 26px;
          margin: 4px 0;
          border-radius: 2px;
          border: none;
          background-color: #398bc2;
          color: #fff;
        }
      }
    }
  }
  &.m-card03 {
    width: 350px;
    margin-right: 10px;
    .card_body {
      padding: 10px 20px;
      .picker01,
      .picker02,
      .picker03 {
        margin-right: 4px;
      }
      .picker01 {
        @include picker;
      }
      .picker02 {
        @include picker($width: 86px);
        p {
          text-indent: 20px;
        }
      }
      .picker03 {
        @include picker($width: 76px);
      }
      .btn {
        box-sizing: border-box;
        width: 66px;
        height: 22px;
        border: 1px solid #cacbcb;
        background-color: #fff;
      }
      table {
        margin-top: 10px;
        text-align: center;
        thead {
          border-top: 2px solid #a9cfec;
          border-bottom: 2px solid #e1e1e2;
          th {
            width: 42px;
            height: 30px;
            text-align: center;
          }
        }
        tbody {
          td {
            width: 42px;
            height: 42px;
            &.active {
              border: 1px solid #f7d564;
            }
            p {
              font: 12px/14px 'simhei';
              color: #535353;
              &.holiday {
                color: #c9161d;
              }
            }
          }
        }
      }
    }
  }
  &.m-card04 {
    width: 530px;
    .card_body {
      padding: 18px 40px;
      table {
        tbody tr {
          cursor: pointer;
        }
        tbody tr:hover {
          background-color: #f4f6f7;
        }
        th,
        td {
          height: 24px;
          text-align: center;
          border: 1px solid #ccc;
          font-family: 'simhei';
        }
        th {
          font-size: 13px;
          color: #231815;
          font-weight: bold;
        }
        td {
          font-size: 12px;
          color: #323333;
        }
        .col01 {
          width: 66px;
        }
        .col02 {
          width: 90px;
        }
        .col03 {
          width: 290px;
          text-align: left;
          text-indent: 30px;
          .progress {
            display: inline-block;
            vertical-align: middle;
            width: 166px;
            height: 4px;
            margin-left: 20px;
            background-color: #dcdcdc;
            .inner {
              height: 100%;
            }
          }
        }
        .inner01 {
          width: 85%;
          background-color: #ec6d51;
        }
        .inner02 {
          width: 75%;
          background-color: #ef804f;
        }
        .inner03 {
          width: 65%;
          background-color: #f19f4f;
        }
        .inner04 {
          width: 60%;
          background-color: #7ecaf0;
        }
        .inner05 {
          width: 55%;
          background-color: #7fcbf0;
        }
        .inner06 {
          width: 50%;
          background-color: #8ecdee;
        }
        .inner07 {
          width: 45%;
          background-color: #7ecaf0;
        }
        .inner08 {
          width: 40%;
          background-color: #7ecaf0;
        }
        .inner09 {
          width: 35%;
          background-color: #7fcbf0;
        }
        .inner10 {
          width: 30%;
          background-color: #91ccea;
        }
      }
    }
  }
}