body,h2,h3,p{
    margin: 0;
    padding: 0;
}
body{
    background: #ccc;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content:".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.wrap{
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    background: #fff;
}
.header,.body,.footer{
    width: 892px;
    margin: 0 auto;
}
.header{
    border-bottom: 2px solid #938e8c;
    margin-bottom: 34px;
}
.header span{
    display: inline-block;
    font: 12px "黑体";
    padding-top: 43px;
    padding-bottom: 6px;
}
.header .logo{
    background: #d45d5c;
    width: 110px;
    text-indent: 7px;
    color: #fff;
}
.header .date{
    color: #d45d5c;
}
.body.top{
    margin-bottom: 48px;
}
.top .main{
    width: 641px;
}
.top .main .img-wrap{
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}
.top .main img{
    width: 100%;
}
.top .main .mask{
    width: 191px;
    height: 301px;
    position: absolute;
    top: 0;
    opacity: 0.5;
    filter: alpha(opacity:50);
}
.top .main .mask-01{
    background: #428c59;
    left: 0;
}
.top .main .mask-02{
    background: #cc7580;
    right: 0;
}
.top .main .article-wrap{
    width: 100%;
}
.top .main .article{
    margin-right: 26px;
}
.top .article h2{
    font: bold 16px "微软雅黑";
    text-decoration: underline;
    margin-bottom: 10px;
}
.top .article p{
    font: 12px/16px "微软雅黑";
    /*margin-bottom: 10px;*/
    color: #767777;
}
.top .main .article-01{
    width: 228px;
}
.top .article-01 h2{
    color: #418c59;
}
.top .article-02 h2{
    color: #d2994f;
}
.top .article-03 h2{
    color: #cc7680;
}
.top .article-01 p{
    font-family: "宋体";
}
.top .article-02 p{
    color: #231815;
}
.top .article-03 p{
    line-height: 2;
}
.top .article-03 div{
    margin-top: 18px;
}
.top .article-03 div p{
    text-indent: 6px;
}
.top .article-03 div span{
    color: #cd4a48;
    font-style: oblique;
}
.top .main .article-02{
    width: 206px;
}
.top .main .article-03{
    width: 130px;
    margin-right: 0;
}
.top .side{
    width: 203px;
}
.top .side h2{
    font: 24px/40px "微软雅黑";
    text-decoration: underline;
    border-top: 2px solid #cc8091;
    font-variant: small-caps;
}
.top .side h3{
    font: 12px/10px "楷体";
    color: #676767;
}
.top .side p{
    font-family: "微软雅黑";
}
.top .side .p1{
    font-size: 116px;
    font-style: oblique;
    color: #75b86b;
    text-indent: -20px;
}
.top .side .p2{
    font-size: 55px;
    color: #cc8091;
    width: 80px;
}
.top .side .p3{
    width: 90px;
    font-size: 12px;
    line-height: 12px;
    color: #e1e0e0;
    padding-top: 32px;
    padding-left: 4px;
}
.top .side .p3 span{
    font-size: 21px;
    color: #cc8091;
}
.bottom .left{
    width: 415px;
}
.bottom .left h2{
    font: bold 33px/40px "黑体";
    color: #11456b;
    border-bottom: 2px solid;
    padding-bottom: 10px;
}
.bottom .left h2:first-child{
    font-size: 42px;
    border-bottom: none;
}
.bottom .left h2 span{
    font-size: 72px;
    font-style: oblique;
    color: #f5e327;
}
.bottom .left .article-wrap{
    margin-top: 24px;
}
.bottom .left p{
    font: 12px/16px "宋体";
    color: #767777;
}
.bottom .left .article-wrap span{
    font: 70px "微软雅黑";
    color: #f5e327;
    padding-right: 15px;
    margin-top: -15px;
}
.bottom .left img{
    padding: 20px;
    padding-right: 8px;
    padding-bottom: 0;
}
.bottom .right{
    width: 458px;
}
.bottom .right .img-wrap{
    width: 100%;
    height: 275px;
    position: relative;
}
.bottom .right img{
    width: 100%;
    height: 100%;
}
.bottom .right .mask{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 61px;
    background: rgba(0,0,0,0.4);
}
.bottom .mask p{
    height: 44px;
    margin: 7px 0 8px 38px;
    padding-left: 10px;
    border-left: 3px solid #72b16a;
    font: 26px/44px "微软雅黑";
    color: #fff;
}
.bottom .mask p span{
    font-size: 12px;
    line-height: 140%;
    font-style: oblique;
    color: #72b16a;
    padding-left: 10px;
}
.bottom .right .article-wrap{
    width: 459px;
    height: 318px;
    background: #eeedd6;
    margin-top: 20px;
    position: relative;
}
.bottom .right .article{
    padding:25px 20px 0 48px;
    font: 16px/20px "宋体";
    color: #5a5b5b;
    background: url(images/triangle.png) no-repeat 34px 32px;
}
.bottom .right span{
    font-size: 12px;
    font-style: oblique;

}
.bottom .right .section-01{
    width: 260px;
    height: 160px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #d45d5c;
}
.bottom .right .section-01 .content{
    height: 86px;
    color: #fff;
}
.bottom .content span{
    font: 110px "微软雅黑";
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.bottom .content .right{
    display: inline-block;
    width: 160px;
    height: 76px;
    padding: 5px;
    padding-left: 10px;
    border-left: 2px solid;
    vertical-align: middle;
}
.bottom .content .right h3{
    font: 21px/24px "黑体";
    font-style: oblique;
}
.bottom .content .right p{
    font: 12px/16px "黑体";
}
.bottom .right .section-02{
    margin-left: 274px;
    margin-top: 40px;
    width: 174px;
    font: oblique 14px/16px "黑体";
    color: #5a5b5b;
    position: relative;
}
.bottom .right .section-02 span{
    font-size: 72px;
    font-style: normal;
    color: #d45d5c;
    position: absolute;
}
.bottom .right .section-02 .quot-01{
    left: -40px;
    top: 15px;
}
.bottom .right .section-02 .quot-02{
    right: -30px;
    bottom: -30px;
}
.bottom .right .section-02 p{
    text-indent: 42px;
}
.footer{
    border: 1px solid #938e8c;
    margin-top: 38px;
}
.footer span{
    font: 12px "黑体";
    color: #d45d5c;
}