body,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.wrap {
  width: 350px;
  margin: 0 auto;
}

table {
  text-align: left;
  margin: 0 auto;
}

thead th {
  background-color: #000;
  color: #fff;
}

tbody tr:nth-child(even)>td {
  background-color: #ccc;
}

tbody tr:nth-child(-n+3) {
  color: #f00;
}

input {
  display: block;
  margin: 20px auto;
  width: 100px;
  height: 21px;
  transition: all .4s;
}

input:focus {
  width: 200px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px #75b1f4;
}

.view {
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.container {
  width: 810px;
  height: 110px;
  animation: banner 6s ease infinite;
}

.box {
  float: left;
  width: 270px;
  height: 110px;
}

.box1 {
  background-color: #008200;
}

.child_box1,
.child_box2 {
  float: left;
  width: 50%;
  height: 100%;
}

.child_box1 {
  background-color: #0001fe;
}

.child_box2 {
  background-color: #008200;
}

.box3 {
  background-color: #0001fe;
}

.container ul {
  position: absolute;
  right: 0;
  bottom: 0;
}

.container ul li,
.container ul li a {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.container ul li a {
  background-color: rgba(255, 255, 255, .5);
  text-align: center;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

@keyframes banner {
  0%,
  100% {
    margin-left: 0;
  }
  33.33% {
    margin-left: -100%;
  }
  66.67% {
    margin-left: -200%;
  }
}